<tr>  
  <td><%= photo.name %></td>
  <td><pre><%= photo.description %></pre></td>
  <td><%= photo.gallery.title %></td>
  <td><%= link_to "Detail", admin_photo_path(photo) %></td>
  <td><%= link_to "Edit", edit_admin_photo_path(photo) %> | 
  <%= link_to "Delte", admin_photo_path(photo), method: :delete, data: {confirm: "Are you sure?"} %></td>
</tr>
