<header class="navbar navbar-inverse">
  <div class="container">
    <%= link_to t("title.app"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">        
        <li><%= link_to "Home", "#" %></li>
        <li><%= link_to "Galleries", galleries_path %></li>
        <li><%= link_to "Blog", "#" %></li>
        <li><%= link_to "Contect", "#" %></li>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Help", "#" %></li>        
      </ul>
    </nav>
  </div>
</header>
