<!DOCTYPE html>
<html ng-app="ImageApp">
  <head>
    <title> </title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <base href="/">
  </head>
  <body>
    <%=render "layouts/header" %>
    <section id="content"><div class="ic"></div>
      <div class="container">
        <% flash.each do |key, value| %>          
          <%= content_tag(:div, value, class: "alert alert-#{(key == "danger")? "danger" : "success"}") %>
        <% end %>    
        <%= yield %>      
      </div>
    </section>
    <%= render "layouts/footer" %>
  </body>
</html>
